/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

.-btn {
  margin-bottom: 0px;
}
input::placeholder {
  color: blue;
  text-align: center;
}

.signin_style {
  border-radius: 30px;
  padding: 10px;
  margin-top: 40px;
}

.signin_style_edit {
  border-radius: 30px;
  padding: 10px;
}

.featured {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.table-background {
  background-color: #f7f0f0;
}
.rest-tile-text {
  opacity: 1;
}

.glow-border {
  -webkit-box-shadow: 0px 0px 30px 10px #565050;
  -moz-box-shadow: 0px 0px 30px 10px #565050;
  box-shadow: 0px 0px 30px 10px #565050;
}

.rest-padding {
  padding: 20px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

​.rest-img {
  position: relative;
  float: left;
  width: 400px;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 400px;
  width: 100%;
}

.center-rest-tile {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.background_fade {
  background: rgba(255, 255, 255, 0.9);
}

.background_fade_signin {
  background: rgba(255, 255, 255, 0.9);
  width: 400px;
}

.background_fade_signin2 {
  background: rgba(255, 255, 255, 0.9);
  width: 700px;
}

.fade {
  opacity: 0.85;
  color: black;
  transition: all 0.6s ease;
}
.fade:hover {
  opacity: 1;
  transition: all 0.1s ease;
  background: #4464ad;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 1;
  color: white;
}

* {
  font-family: "Lato", sans-serif;
}

.test-padding {
  margin: 10px;
}

.welcome {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #781c2e,
    #f7f0f0,
    #f7f0f0,
    #781c2e
  );
  border-radius: 10px;
  border: 2.5px solid #bc2c49;
}

.price-font {
  margin-top: 15px;
  border: 1px #cccccc solid;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  border-radius: 10px;
}

.price-font:hover {
  opacity: 1;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.center {
  margin: auto;
  width: 75%;
  padding: 10px;
}

.centerErrorMessage {
  text-align: center;
}

body {
  height: 100%;
  // display: flex;
  min-width: 100%;
  background: url("https://media.cntraveler.com/photos/5859aad8eaa56c5e65d43539/master/pass/best-restaurants-NYC-Charlie-Bird-interior-2016.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.restaurant-index-background {
  height: 100%;
  min-width: 100%;
  background: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/02/07/104995688-Save_Tipping_V6_Alt_Music.00_00_16_06.Still001.jpg?v=1518046911");
  background-size: cover;
  background-attachment: fixed;
}

.signin-background {
  height: 100%;
  min-width: 100%;
  background: url("https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1517000607/asia-the-warehouse-hotel-singapore-ITLIST0318.jpg?itok=RREkIjir");
  background-size: cover;
  background-attachment: fixed;
}

.show-tile.fade.green {
  background-color: #8af3ff;
  opacity: 1;
}

.show-tile {
  height: 80px;
  font-size: 20px;
  border: 1.5px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: #f7f0f0;
  padding: 10px;
}

.other-category {
  height: 100px;
  text-align: center;
  object-position: center;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.inner {
  position: absolute;
}

.like-dislike-button {
  border: none;
  background: #781c2e;
  color: #ffffff !important;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  width: 160px;
  margin-top: 20px;
}

.like-dislike-button:hover {
  color: black !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
}

.like-dislike-button-like-page {
  border: none;
  background: #85c7f2;
  color: #ffffff !important;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  width: 160px;
  margin-top: 20px;
}

.like-dislike-button-like-page:hover {
  color: #781c2e !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
}

.like-dislike-button-home {
  border: 1px #cccccc solid;
  background: #781c2e;
  color: #ffffff !important;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  width: 290px;
  height: 40px;
  text-align: center;
  margin-top: 12px;
  margin-left: 20px;
  padding-bottom: 30px;
}

.like-dislike-button-home:hover {
  color: black !important;
  font-weight: 700 !important;
  letter-spacing: 5px;

  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
  z-index: 2;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  margin-top: 12%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 70%;
  }
}
